.card.mt-3
  - if can? :manage, green_act
    .card-header
      = link_to "Edit", edit_green_act_path(green_act)
  .card-body
    .card-text #{green_act.content}
    %small.text-muted
      suggested by #{green_act.user.name},
      #{time_ago_in_words green_act.created_at} ago
